/* this is the command format */

.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .video-title{
    font-size: 16px;
    line-height: 24px;
  }

  .video-info p{
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  body{
    position: absolute;
    left: 100px;
  }
}

.video-info-title{
  text-decoration: none;
  color: black;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  cursor: pointer;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 700px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:701px) and (max-width:999px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

.video-info-grid{
  position: relative;
}

.channel-picture .hover-info{
  position: absolute;
  bottom:-35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 3px;
  width: 200px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  background-color: white;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.channel-picture:hover .hover-info{
  opacity: 100;
}

.hover-pic-div{
  display: inline-block;
  margin-right: 10px;
}

.profile-hover-details{
  display: inline-block;
}

.profile-hover{
  width: 45px;
  border-radius: 25px;
}



.line-1{
  font-weight: bold;
  font-family: roboto, arial;
}

.line-2{
  color: gray;
}